
.reloj-lcd-label {
    margin: 0 4px;
}

.reloj-lcd-shadow-label {
    margin: 0 4px;
}

.reloj-lcd-ghost-label {
    margin: 0 4px;
}

.reloj-lcd-container {
    position: relative;
    z-index: 999999;
    -st-shadow: none;
    paint-order: normal;
}

.reloj-lcd-alarm-dialog-label {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 12px 0;
}
